<nav class="navbar navbar-expand-lg navarsito ">
    <div class="container-fluid">
        <a class=" navbar-brand  letra_menu text-white fs-4">Mezcales Amor Tumbado</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <ul class="navbar-nav mb-lg-0">
                <li class=" d-flex nav-item">
                    <a class="nav-link text-white fs-4" [routerLink]="['/inicio']">Inicio </a>
                </li>
                <li class=" d-flex nav-item">
                    <a class="nav-link text-white fs-4" [routerLink]="['/productos']">Productos </a>
                </li>
                <li class=" d-flex nav-item">
                    <a class="nav-link text-white fs-4" [routerLink]="['/contacto']">Contacto </a>
                </li>
                <li class=" d-flex nav-item">
                    <a class="nav-link text-white fs-4" [routerLink]="['/login']">Login </a>
                </li>
                <li class=" d-flex nav-item">
                    <a class="nav-link text-white fs-4" [routerLink]="['/registro']">Registro</a>
                </li>
            </ul>

        </div>

    </div>
</nav>