<app-nav></app-nav>

<div class="row">
    <div class="cuadro_principal col-lg-12 text-end">
        <div class="col-lg-5 text-end">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="mezcal">
                <h1>MEZCAL</h1><br>
            </div>
            <div class="para">
                <p> PARA</p><br>
            </div>
            <div class="todos">
                <p> TODOS</p><br>
            </div>
            <br>
        </div>
    </div>
</div>